{% include "inc/header.html" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.65.5/lib/codemirror.min.css" />
<p><a href="/files"><b>Files</b></a> - <a href="/settings">Settings</a> - <a href="https://{{user}}.44ht.ml">{{user}}</a> - <a href="/logout">Log out</a></p>
<h3>Edit:</h3>
<form method="POST">
<p id="filename">~{{user}}/<input name="filename" type="text" value="{{filename}}" /></p>
<textarea name="content" id="content" style="width:100%">
{{content}}
</textarea>
<input type="submit" value="Update" />
</form>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.5/lib/codemirror.js"></script>
<script>
CodeMirror.fromTextArea(document.getElementById("content"), {
  lineNumbers: true
});
</script>
{% include "inc/footer.html" %}