{% include "inc/header.html" %}
<p><a href="/files"><b>Files</b></a> - <a href="/settings">Settings</a> - <a href="https://{{user}}.44ht.ml">{{user}}</a> - <a href="/logout">Log out</a></p>
<h3>Files:</h3>
<p>Total size: {{size}}/5MB</p>
Currently on ~{{root}}
<table style="width:100%">
<tr><th>File</th><th>Modified</th><th>Size</th></tr>{{files|safe}}
</table>
{% include "inc/footer.html" %}