{% include "inc/header.html" %}
<p><a href="https://{{user}}.44ht.ml">{{user}}</a> - <a href="/logout">Log out</a></p>
<h3>Welcome, ~{{user}}!</h3>
<ul>
  <li><a href="/files">Files</a></li>
</ul>
{% include "inc/footer.html" %}