<html>
<head>
<title>Login</title>
</head>
<body>
{}
<code>(C) 2022 LUQASKA<br /><br />Sape.gq beta<br /><a href="https://github.com/sapegq/sape">Source code</a> - {{login|safe}}</code>
</body>
</html>