<footer>
<p>&copy;2022 Luqaska - <a href="https://twitter.com/YaksCF">Twt</a></p>
<p>This services doesn't have even an official first real prealpha, so it's in active development and not seeking for new users. Thank you :-)</p>
</footer>
</body>
</html>